.git
.gitignore
.env
.env.production
.env.backup
node_modules
vendor
tests
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
docker-compose.override.yml
.phpunit.result.cache
.phpunit.cache
.idea
.vscode
.fleet
.nova
.zed
*.log
Thumbs.db
.DS_Store
README.md
LICENSE
